<%- include('../partials/base') %>
<body>
    <h2>Favorite Recipes</h2>
    <div class="collection">
        <% recipes.forEach(function(r) { %>
            <a href="/recipes/show/<%= r._id %>" class="collection-item"><%= r.recipeDetails.label %></a><br>
        <% }) %>
    </div>
</body>
</html>