<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Form</h1>
    <form action="/recipes/search/" method="POST">
        <input type="text" name="query">
        <button type="submit">Search Edamam</button>
    </form>
    <% if (result) { %>
    
    <% } %>
</body>
</html>